<ul id="nrfc-fixtures-team-index">
  {% for team in teams %}
    <li style="margin-bottom: 10px;"><a href="{{ url(
        'nrfc_fixtures.admin_page.team',
        {'team':team.id}
      ) }}">{{ team.getTitle }}</a></li>
  {% endfor %}
</ul>
